<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='styles/page.css') }}">
    <!-- <script src="https://cdn.socket.io/4.0.0/socket.io.min.js"></script> -->
    <script src="../static/socket.io.min.js"></script>
    <!-- <script>
        function startStream() {
            var xhr = new XMLHttpRequest();
            xhr.open("GET", "/start_stream", true);
            xhr.send();
        }
    </script> -->
</head>

<body>
    <div class="container">
        <div style="position: relative;">
            <img id="video-stream" width='640' height='480' autoplay playsinline>
            <div class="footer">
                <img class="image" src="{{url_for('static', filename='cool.png')}}" width='640' height='480'>
            </div>
        </div>
    </div>

    <script>

        var video = document.getElementById('video-stream');
        video.src = "/video_feed";

        let dir = [0, 0, 0, 0]

        let controllerIndex = null;
        window.addEventListener('gamepadconnected', (event) => {
            controllerIndex = event.gamepad.index;
            controllerInput();
        });


        window.addEventListener('gamepaddisconnected', (event) => {
            console.log('disconnected');
            controllerIndex = null;
        });

        var socket = io.connect(window.location.host.slice(0, -1) + '2');

        socket.on('connect', function () {
            console.log('WebSocket connection established.');
        });

        function clamp(value, min, max) {
            return Math.min(Math.max(value, min), max);
        }


        function sendDirection() {
            const keys = {
                'KeyW': 100, // Forward
                'KeyA': -12, // Left
                'KeyS': 100, // Backward
                'KeyD': 12, // Right
            };

            document.addEventListener('keydown', function (event) {
                if (event.code in keys) {
                    if (event.code === 'KeyW') {
                        dir[2] = keys[event.code];
                    } else if (event.code === 'KeyA') {
                        dir[0] = keys[event.code];
                    } else if (event.code === 'KeyS') {
                        dir[1] = keys[event.code];
                    } else if (event.code === 'KeyD') {
                        dir[0] = keys[event.code];
                    }
                    socket.send(dir);
                }
            });

            document.addEventListener('keyup', function (event) {
                if (event.code in keys) {
                    if (event.code === 'KeyW' || event.code === 'KeyS') {
                        dir[1] = 0;
                        dir[2] = 0;
                    } else if (event.code === 'KeyA' || event.code === 'KeyD') {
                        dir[0] = 0;
                    }
                    socket.send(dir);
                }
            });
        }

        sendDirection();

        function controllerInput() {
            if (controllerIndex === null) return;
            const gamepad = navigator.getGamepads()[controllerIndex];
            dir[0] = Math.round(clamp(gamepad.axes[0] * 12, -12, 12));
            dir[1] = Math.round(parseFloat(gamepad.buttons[6].value) * 100)
            dir[2] = Math.round(parseFloat(gamepad.buttons[7].value) * 100)
            dir[3] = gamepad.buttons[2].value;

            socket.send(dir);

            requestAnimationFrame(controllerInput);
        }


        socket.on('disconnect', function () {
            console.log('WebSocket connection closed.');
        });
    </script>
</body>

</html>